{% extends 'base.html.twig' %}

{% block title %}Modifier Rendez-vous{% endblock %}

{% block body %}
<section class="content">
    <div class="container-fluid">
        <div class="card shadow-sm">
            <div class="card-header bg-warning">
                <h3 class="card-title">Modifier le Rendez-vous #{{ rendez_vou.id }}</h3>
            </div>
            <div class="card-body">
                {{ include('rendez_vous/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

                <div class="mt-3 d-flex justify-content-between">
                    <a href="{{ path('app_rendez_vous_index') }}" class="btn btn-secondary btn-sm">
                        <i class="fas fa-arrow-left"></i> Retour
                    </a>
                    
                    {{ include('rendez_vous/_delete_form.html.twig', {'rendez_vou': rendez_vou}) }}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}