{% extends 'base.html.twig' %}

{% block title %}Type Rendez-Vous{% endblock %}

{% block body %}
<h1>Détails Type Rendez-Vous</h1>

<table class="table">
    <tr>
        <th>ID</th>
        <td>{{ type_rendez_vou.id }}</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>{{ type_rendez_vou.description }}</td>
    </tr>
</table>

<a href="{{ path('app_type_rendez_vous_index') }}"
   class="btn btn-secondary">
   Back
</a>

<a href="{{ path('app_type_rendez_vous_edit', {'id': type_rendez_vou.id}) }}"
   class="btn btn-warning">
   Edit
</a>
{% endblock %}
